<!-- <h1> Sign Up </h1>

<form action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="Username">Username</label>
  <input type="text" name="user[username]" id="Username" value="">

  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password" value="">

  <input type="submit" value="Sign Up">


</form> -->

<img src="http://www.uwishunu.com/wp-content/uploads/2015/04/night-market-philadelphia-food-truck1-1200vp.jpg")" id="sign-log-in-background" alt="">




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div>
<form action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">


    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4 class="sign-log-title">Sign Up</h4>
            <label for="Username" class="sign-log-creds">Username</label>
            <input type="text" id="userName" name="user[username]" class="form-control input-sm chat-input" placeholder="Get Recognized" value="" />
            </br>
            <label for="Password" class="sign-log-creds">Password</label>
            <input type="password" name="user[password]" id="Password" value="" id="userPassword" class="form-control input-sm chat-input" placeholder="Secret Recipe To Success" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <input type="submit" class="btn btn-success btn-md sign-log-guest-button" className="sign-in-submit-button">
                <%= link_to 'or Log In as Guest', guest_path %>
            </span>
            <ul>
              <%  if flash[:errors] %>
              <li class="errors">-<%= flash[:errors][0] %><li>
              <li class="errors">-<%= flash[:errors][1] %><li>
                <% end %>
            </ul>

            </div>
            </div>

        </div>
    </div>

</form>

</div>
