<!-- <h1> Sign Up </h1>

<form action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label for="Username">Username</label>
  <input type="text" name="user[username]" id="Username" value="">

  <label for="Password">Password</label>
  <input type="password" name="user[password]" id="Password" value="">

  <input type="submit" value="Sign Up">


</form> -->


<%= flash[:errors] %>
<div className="sign-up-page">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<form action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Sign Up</h4>
            <label for="Username">Username</label>
            <input type="text" id="userName" name="user[username]" class="form-control input-sm chat-input" placeholder="username" value="" />
            </br>
            <label for="Password">Password</label>
            <input type="password" name="user[password]" id="Password" value="" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <input type="submit" class="btn btn-primary btn-md" className="sign-in-submit-button"><i class="fa fa-sign-in"></i>
                <%= link_to 'Guest Log In', guest_path %>
            </span>
            </div>
            </div>

        </div>
    </div>
</div>

</form>

</div>
