<!DOCTYPE html>
<html>
<head>
  <title>FoodTruckStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script>
    window.CURRENT_USER_ID = <%= current_user ? current_user.id : "null" %>;
  </script>
</head>
<body>



  <!-- <div id="navbar">navbar here</div> -->

<!-- <% if current_user %>
<%= current_user.username %>
<%= button_to("Sign Out", session_url, method: :delete) %>
<% end %> -->

<%= yield %>

<!-- <%= flash[:errors] %> -->

</body>
</html>
